<div class="page-header">
  <h3>Tag #<%= @tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd><%= @tag.type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tags" class="btn btn-primary">
        Back
      </a>
      <a href="/tags/<%= @tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tag/<%= @tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tag has many tags_restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags_restaurants
      </li>

      <% @tag.tags_restaurants.each do |tags_restaurant| %>
        <li class="list-group-item">
          <a href="/tags_restaurants/<%= tags_restaurant.id %>">
            <%= tags_restaurant.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
